<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="QRestClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
    <userSettings>
        <QRestClient.Properties.Settings>
            <setting name="CPU_W_On" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CPU_T_On" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Mem_W_On" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GPU_W_On" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GPU_T_On" serializeAs="String">
                <value>False</value>
            </setting>
        </QRestClient.Properties.Settings>
    </userSettings>
</configuration>
